* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
}

body {
    background-color: rgba(55, 93, 53, 0.353);
}
/*header*/
.foto-header-area{ /*ajustando o background e o flex do header*/
    background-image: url(./src/img/photographer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-header-area { /*colando um border em volta do titulo do header*/
    border: 1px solid silver;
    padding: 30px 45px;
    text-align: center;
    margin-top: 140px;
    color: #ebf1f1;
}

.titulo-header-area h1 { /*ajustando o h1(titulo 1)*/
    font-weight: lighter;
    font-size: 50px;
    letter-spacing: 3px;
}

.titulo-header-area h2 { /*ajustando o  h2(titulo 2)*/
    font-weight: lighter;
    font-size: 25px;
    letter-spacing: 5px;
}


.menu-header-area {
    display: flex;
    align-items: flex-end;
}

.menu-header-area ul{
    background: transparent;
    display: flex;
    list-style: none;
}

.menu-header-area ul li{
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu-header-area ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 2px #000;
    font-size: larger;
}

.menu-header-area ul li a:hover {
    text-decoration: underline 2px rgb(130, 211, 122);
}



/*fotos da area principal do site*/

.foto-area {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.foto-class {
    width: 900px;
    height: 500px;
    object-fit: cover;
    box-shadow: 2px 1px 5px #000;
}


/*footer*/

footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-contact-area {
    width: 1000px;
    background-color: #20502a5a;
    box-shadow: 2px 1px 5px #000;
}

.texto-contact-area {
    text-align: center;
}

.input-contact-area {
    display: flex;
    flex-direction: column;
}

.input-contact-area p {
    margin-left: 10px;
}

.contact-area-style {
    margin: 10px;
    height: 40px;
}

.input-contact-area button {
    background-color: #7f7f7f;
    border: none;
}

.input-contact-area button:hover {
    background-color: #ccc;
}

@media screen and (max-width: 320px ) {
    

    .foto-header-area {
        width: 100%;
    }

    
    .foto-area {

    }

    .foto-class {
        width: 473px;
        margin-top: 30px;
    }

    footer {
        width: 500px;
        display: flex;
        justify-content: center;
    }
    .footer-contact-area {
        
        width: 200px;
    }
}